# **Introduction to Financial Python**

# Data Types and Data Structures

**Basic Variable Types**

The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
my_string3 = 'Binvenido al'
my_string4 = "primer ejemplo de "
print(my_string1 + ' ' + my_string2)
print(my_string3 + ' ' + my_string4 + ' ' + my_string2)

Welcome to QuantConnect
Binvenido al primer ejemplo de  QuantConnect

An integer is a round number with no values after the decimal point.

In [2]:
my_int = 10
int2=324443
print(my_int)
print(int2)
print(type(my_int))
print(type(int2))

10
324443
<class 'int'>
<class 'int'>

The built-in function int() can convert a string into an integer.

In [3]:
my_string = "100"
string1="123"
print(type(my_string))
print(type(string1))
my_int = int(my_string)
int2= int(string1)
print(type(my_int))
print(type(int2))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float.

In [4]:
my_float = 1.0
float2= 15.342
print(type(my_float))
print(type(float2))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'float'>
<class 'int'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [5]:
my_string = "100"
my_float = float(my_string)
int1=25
float1=float(int1)
print(type(my_float))
print(type(float1))

<class 'float'>
<class 'float'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [6]:
my_bool = False
bool2=True
print(my_bool)
print(bool2)
print(type(my_bool))
print(type(bool2))

False
True
<class 'bool'>
<class 'bool'>

**Basic Math Operations**



The basic math operators in python are demonstrated below:

In [7]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

**Data Collections**

List

A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [8]:
my_list = ['Quant', 'Connect', 1,2,3]
my_list2 = ['Hello', 'World', 2.4,4444]
print(my_list)
print(my_list2)

['Quant', 'Connect', 1, 2, 3]
['Hello', 'World', 2.4, 4444]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [9]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[3])
print(my_list[len(my_list) - 1])

5
Quant
2
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [10]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
my_list[len(my_list) - 1]=5
print(my_list)

['Quant', 'Connect', 'go', 2, 5]

A list can also be sliced with a colon:

In [11]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])
print(my_list[0:2])

['Connect', 1]
['Quant', 'Connect']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [12]:
print(my_list[1:])
print(my_list[3:])

['Connect', 1, 2, 3]
[2, 3]

And all elements up to but excluding index 3:

In [13]:
print(my_list[:3])
print(my_list[:2])

['Quant', 'Connect', 1]
['Quant', 'Connect']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [14]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

**Tuple**

A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [15]:
my_tuple = ('Welcome','to','QuantConnect')
my_tuple2=("Hola","Mundo",1,2,3)

Just like a list, a tuple can be sliced by using index.

In [16]:
my_tuple = ('Welcome','to','QuantConnect')
my_tuple2=("Hola","Mundo",1,2,3)
print(my_tuple[1:])
print(my_tuple2[:2])

('to', 'QuantConnect')
('Hola', 'Mundo')

**Set**

A set is an unordered collection with no duplicate elements. The built-in function set() can be used to create sets.
Set is an easy way to remove duplicate elements from a list.

In [17]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_list2 = [2,4,6,8,"Hola","Mundo"]
stock_set = set(stock_list)
stock_set2 = set(stock_list2)
print(stock_set)
print(stock_set2)

{'F', 'AAPL', 'GOOG', 'IBM', 'FB'}
{2, 4, 'Mundo', 6, 8, 'Hola'}

**Dictionary**

A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an unordered collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [18]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}
my_dic2 = {1: 'Hola', 1.5: 'Mundo', 2: ':)'}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [19]:
print(my_dic['GOOG'])
print(my_dic2[2])

Alphabet
:)

We can also change the value associated with a specified key:

In [20]:
my_dic['GOOG'] = 'Alphabet Company'
my_dic2[1]="Hello"
print(my_dic['GOOG'])
print(my_dic2)

Alphabet Company
{1: 'Hello', 1.5: 'Mundo', 2: ':)'}

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [21]:
print(my_dic.keys())
print(my_dic2.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])
dict_keys([1, 1.5, 2])

**Common String Operations**

A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [22]:
my_str = 'Welcome to QuantConnect'
my_str2 = "Hola Mundo"
print(my_str[8:])
print(my_str2[:4])

to QuantConnect
Hola

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters.

In [23]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))
print("Hola Mundo".replace("Hola","Hello"))

6
2
ell the e in this sentence now becomes e
Hello Mundo

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [24]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
minute = time.split(':')[1]
sec = time.split(':')[2]
print(hour)
print(minute)
print(sec)

2016-04-01 09:43:00
09
43
00

We can replace parts of a string by our variable. This is called string formatting.

In [25]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
my_time2 = 'Hour: {}, Minute: {}, Second: {}'.format(5, 55, 55)
print(my_time)
print(my_time2)

Hour: 9, Minute: 43
Hour: 5, Minute: 55, Second: 55

Another way to format a string is to use the % symbol.
%s is a placeholder that takes in a string. Similarly %f takes a float and %d takes an integer.

In [26]:
print('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))
print('%s  %s %i' % ('Hola', 'Mundo', 123))

pi is 3.140000
Welcome to QuantConnect
Hola  Mundo 123

# Logical Operations and Loops

**Logical Operations**

Like most programming languages, Python has comparison operators:

In [27]:
print(1 == 0 )    # 1 equals 0
print(1 == 1)     # 1 equals 1
print(1 != 0)     # 1 is not equal to 0
print(5 >= 5 )    # 5 is greater than or equal to 5
print(5 >= 6)     # 5 is greater than or equal to 6
print(1 < 4)

False
True
True
True
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

 

*   The statement "P and Q" is true if both P and Q are true, otherwise it is false.
*   The statement "P or Q" is false if both P and Q are false, otherwise it is true.
* The statement "not P" is true if P is false, and vice versa.

In [28]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2)
print(2 > 1 or  3 < 2)
print(2 < 1 and 3 < 2)
print(2 != 1 and 3 < 2)

True
False
True
False
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [29]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print( 3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
x_bool=(2 > 2 or 1 == 3) and (1<=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))
print(x_bool)

False
True
False

**If Statement**

An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.


```
if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
else:
    # if none of the above conditions is True, execute the code here
```
An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [30]:
i = 0
j=3
if i == 0: print('i == 0 is True')
if j != 0: print('i == 0 is False')

i == 0 is True
i == 0 is False

As we mentioned above, we can write some complex statements here:

In [31]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

**Loop Structure**

Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

**While Loop**

A "while" loop will run repeatedly until a certain condition has been met.

In [32]:
i = 0
while i < 5:
    print(i)
    print("--")
    i += 1

0
--
1
--
2
--
3
--
4
--

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

**For Loop**

A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [33]:
for x in [1,2,3,4,5]: 
  print(x) 
  print("--")

1
--
2
--
3
--
4
--
5
--

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

In [34]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
new_list2 = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
for stock in stocks:
    if stock  in selected:
        new_list2.append(stock)
print(new_list)
print(new_list2)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']
['AAPL', 'IBM']

**Break and continue**

These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [35]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
stocks2 = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print(stock)
    if stock == 'FB': break
print("------")
for stock2 in stocks2:
    print(stock2)
    if stock2 == 'GOOG': break

AAPL
GOOG
IBM
FB
------
AAPL
GOOG

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [36]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
stocks2 = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print(stock)
print("------")
for stock2 in stocks2:
    if stock2 == 'GOOG': continue
    print(stock2)

AAPL
GOOG
IBM
F
V
G
GE
------
AAPL
IBM
FB
F
V
G
GE

**List Comprehension**

List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [37]:
squares = []
cubes=[]
for i in [1,2,3,4,5]:
    squares.append(i**2)
    cubes.append(i**3)
print(squares)
print(cubes)

[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]

Using list comprehension:

In [38]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
cubes=[x**3 for x in foo]
print(squares)
print(cubes)

[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [39]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
new_list2 = [y for y in stocks if y in selected]
print(new_list)
print(new_list2)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']
['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:


List comprehension is an elegant way to organize one or more for loops when creating a list.

In [40]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

# Functions and Objective-Oriented Programming

**Functions**

A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [41]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))
print(product(234,13484))

6
50
3155256

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [42]:
def say_hi():
    print("Welcome to QuantConnect")
    print("Hola Mundo")
say_hi()

Welcome to QuantConnect
Hola Mundo

**Built-in Function**

range() is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [43]:
x=range(10)
print(list(x))
y=range(1, 11)
print(list(y))
print(list(range(1, 11, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

len() is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [44]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print(k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"


map() is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [45]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
tickers2 = [2.235,2.98,5.55,85.3]
print(list(map(len,tickers)))
print(list(map(int,tickers2)))

[4, 4, 3, 2, 1, 1, 1, 2]
[2, 2, 5, 85]

The lambda operator is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [46]:
map(lambda x:x**2, range(10))

map() can be applied to more than one list. The lists have to have the same length.

In [47]:
map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])

sorted() takes a list or set and returns a new sorted list:

In [48]:
print(sorted([5,2,3,4,1]))
sorted([3.23,3.5,3.234])

[1, 2, 3, 4, 5]

[3.23, 3.234, 3.5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [49]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list2 = [('AAPL', 4), ('GOOGL', 3), ('MSFT', 3.5), ('FB', 7), ('WMT', 1)]
sorted(price_list, key = lambda x: x[1])
sorted(price_list2, key = lambda x: x[1])

[('WMT', 1), ('GOOGL', 3), ('MSFT', 3.5), ('AAPL', 4), ('FB', 7)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [50]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list2 = [('AAPL', 4), ('GOOGL', 3), ('MSFT', 3.5), ('FB', 7), ('WMT', 1)]
sorted(price_list, key = lambda x: x[1], reverse = True)
print(sorted(price_list2, key = lambda x: x[1], reverse=True))

[('FB', 7), ('AAPL', 4), ('MSFT', 3.5), ('GOOGL', 3), ('WMT', 1)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [51]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list2 = [('AAPL', 4), ('GOOGL', 3), ('MSFT', 3.5), ('FB', 7), ('WMT', 1)]
price_list.sort(key = lambda x: x[1])
price_list2.sort(key = lambda y: y[1])
print(price_list)
print(price_list2)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]
[('WMT', 1), ('GOOGL', 3), ('MSFT', 3.5), ('AAPL', 4), ('FB', 7)]

**Object-Oriented Programming**

Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [52]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [53]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)
samsung=Stock('GLX',23,25,55.45)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [54]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()
samsung.open

0.014465338822744034
0.0006573181419806673

23

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [55]:
apple.ceo = 'Tim Cook'
print(apple.ceo)
samsung.ceo="galaxy"
print(samsung.ceo)

Tim Cook
galaxy

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [56]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

**Inheritance**

Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [57]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

Then we create an object:

In [58]:
aa = Child('AA')
print(aa.name)
aa.update(100, 102)
print(aa.open)
print(aa.close)
print(aa.print_return())
print("---------")
bb=Child("BB")
bb.rate_return=11
print(bb.print_return())

AA
100
102
0.020000000000000018
None
---------
11
None

As seen above, the new class Child has inherited the methods from Stock.

# NumPy and Basic Pandas

**NumPy**

NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [59]:
import numpy as np

**Basic NumPy Arrays**

A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [60]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [61]:
Ar = np.array([[1,3], [2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [62]:
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [63]:
print(Ar[0])

print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [64]:
print('First column:', Ar[:,0])
print('Second column:', Ar[:,1])
print(Ar[1,1])

First column: [1 2]
Second column: [3 4]
4

**Array Functions**

Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [65]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

Other functions return a single value:

In [66]:
np.mean(price_array)
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

**Pandas**

Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [67]:
import pandas as pd

**Series**

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [68]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print(s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [69]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
s2 = pd.Series(price, index = ['/', '*', '?', 'Â¿', '|', '-'])
print(s)
print(s2)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64
/    143.73
*    145.83
?    143.68
Â¿    144.02
|    143.50
-    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [70]:
s.index = [6,5,4,3,2,1]
print(s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [71]:
print(s[1:])
print(s[:-2])
print(s2[1:3])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64
*    145.83
?    143.68
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [72]:
print(s[4])
s[4] = 0
s2[0]=123124
print(s)
print(s2)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64
/    123124.00
*       145.83
?       143.68
Â¿       144.02
|       143.50
-       142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [73]:
s = pd.Series(price, name = 'Apple Prices')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

We can get the statistical summaries of a Series:

In [74]:
print(s.describe())
print("------")
print(s2.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64
------
count         6.000000
mean      20640.608333
std       50206.403350
min         142.620000
25%         143.545000
50%         143.850000
75%         145.377500
max      123124.000000
dtype: float64

**Time Index**

Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [75]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
time_index2 = pd.date_range('2017-01-01', periods = len(s), freq = 'M')
print(time_index)
s.index = time_index
print(s)
print("----------")
print(time_index2)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64
----------
DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30'],
              dtype='datetime64[ns]', freq='M')

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [76]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [77]:
print(s.iloc[1])
print(s.iloc[4])

145.83
143.5

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [78]:
s.index = time_index
s2.index=time_index2
print(s['2017-01-03'])
print(s2["2017-05-31"])

143.68
143.5

We can even access to a range of dates:

In [79]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [80]:
print(s[s < np.mean(s)])
print(s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Pandas-Resampling and DataFrame

**Fetching Data**

Here we use the Yahoo Finance to retrieve data.

In [81]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.3 MB 10.8 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=377882abf9b063f6ad4114d0925ce1b44bca52ae80ccb1bcec5004a86de2275b
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [82]:
import yfinance as yf
aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 144.245, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.951, 'beta3Year': None, 'enterpriseToEbitda': 21.751, '52WeekChange': 0.20786417, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.5869, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.27396727, 'priceToBook': 37.15739, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2412978896896, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.8683977, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.395247, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 143.76, 'regularMarketOpen': 143.77, 'twoHundredDayAverage': 138.34735, 'trailingAnnualDividendYield': 0.0058082915, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 144.69, 'navPrice': None, 'averageDailyVolume10Day': 71327875, 'regularMarketPreviousClose': 143.76, 'fiftyDayAverage': 146.73143, 'trailingAnnualDividendRate': 0.835, 'open': 143.77, 'toCurrency': None, 'averageVolume10days': 71327875, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.515, 'currency': 'USD', 'trailingPE': 28.239037, 'regularMarketVolume': 38730666, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2384398647296, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 78256850, 'dayLow': 143.515, 'ask': 144.2, 'askSize': 900, 'volume': 38730666, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 144.19, 'tradeable': False, 'dividendYield': 0.0062, 'bidSize': 900, 'dayHigh': 144.69, 'regularMarketPrice': 144.245, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655164  24.291441  23.514538  ...  270597600        0.0             0
2016-01-05  24.379048  24.402102  23.609063  ...  223164000        0.0             0
2016-01-06  23.182563  23.599832  23.023496  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719197  22.848296  22.306540  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827752  42.004949  41.784653  ...   65397600        0.0             0
2017-12-26  40.898678  41.059112  40.630488  ...  132742000        0.0             0
2017-12-27  40.731061  40.893888  40.637675  ...   85992800        0.0             0
2017-12-28  40.946564  41.150101  40.822048  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [83]:
aapl = aapl_table['Close']['2017']
print(aapl)

Date
2017-01-03    27.372360
2017-01-04    27.341724
2017-01-05    27.480770
2017-01-06    27.787130
2017-01-09    28.041645
                ...
2017-12-22    41.906773
2017-12-26    40.843605
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, Length: 251, dtype: float64


Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [84]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889832
2017-03-03    33.083931
2017-03-06    32.979786
2017-03-07    33.022381
2017-03-08    32.899303
2017-03-09    32.823563
2017-03-10    32.932442
2017-03-13    32.946632
2017-03-14    32.896942
2017-03-15    33.244865
2017-03-16    33.299305
2017-03-17    33.133617
2017-03-20    33.481552
2017-03-21    33.098106
2017-03-22    33.472080
2017-03-23    33.353752
2017-03-24    33.287468
2017-03-27    33.344269
2017-03-28    34.035385
2017-03-29    34.111126
2017-03-30    34.066162
2017-03-31    34.002262
Name: Close, dtype: float64

Or in several consecutive months:

In [85]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341724
2017-02-02    30.289886
2017-02-03    30.419498
2017-02-06    30.704645
2017-02-07    30.996872
                ...
2017-04-24    33.997524
2017-04-25    34.208172
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999893
Name: Close, Length: 61, dtype: float64


.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [86]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372360
2017-01-04    27.341724
2017-01-05    27.480770
2017-01-06    27.787130
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657738
2017-12-18    42.244404
2017-12-19    41.794231
2017-12-20    41.748741
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843605
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, dtype: float64


**Resampling**

**series.resample(freq)** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**series.resample.mean()** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [87]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819262
2017-05-31    36.125684
2017-06-30    35.133984
2017-07-31    35.245241
2017-08-31    37.897230
2017-09-30    37.604737
2017-10-31    37.654549
2017-11-30    41.233916
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64


We can also aggregate the data by week:

In [88]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495496
2017-01-15    28.097734
2017-01-22    28.266119
2017-01-29    28.553981
2017-02-05    29.662545
Freq: W-SUN, Name: Close, dtype: float64


We can also aggregate the data by month with max:

In [89]:
aapl.resample('M').max()

Date
2017-01-31    28.739212
2017-02-28    32.451973
2017-03-31    34.111126
2017-04-30    34.264984
2017-05-31    37.099133
2017-06-30    36.944653
2017-07-31    36.471703
2017-08-31    39.129723
2017-09-30    39.141655
2017-10-31    40.332256
2017-11-30    42.050140
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [90]:

three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()
one_day = aapl.resample('1D').mean()

print(three_day)
print(two_week)
print(two_month )
print(one_day)

Date
2017-01-03    27.398285
2017-01-06    27.787130
2017-01-09    28.110774
2017-01-12    28.078174
2017-01-15    28.279671
                ...
2017-12-17    42.019318
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886705
2017-12-29    40.522728
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516815
2017-03-05    32.595558
2017-03-19    33.017884
2017-04-02    33.625216
2017-04-16    33.849728
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496178
2017-06-11    36.515005
2017-06-25    34.529046
2017-07-09    34.265137
2017-07-23    35.278870
2017-08-06    36.272775
2017-08-20    37.904121
2017-09-03    38.458794
2017-09-17    38.282708
2017-10-01    36.840872
2017-10-15    37.071592
2017-10-29    37.757320
2017-11-12    41.032242
2017-11-26    41.204375
2017-12-10    40.867066
2017-12-24    41.620866
2018-01-07    40.795711
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186963
2017-09-30    37.761187
2017-11-30    39.402612
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64
Date
2017-01-03    27.372360
2017-01-04    27.341724
2017-01-05    27.480770
2017-01-06    27.787130
2017-01-07          NaN
                ...
2017-12-25          NaN
2017-12-26    40.843605
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522728
Freq: D, Name: Close, Length: 361, dtype: float64


Besides the mean() method, other methods can also be used with the resampler:

In [91]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()

print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072531
2017-01-22    0.025556
2017-01-29    0.245284
2017-02-05    0.943261
2017-02-12    0.252002
2017-02-19    0.231396
2017-02-26    0.059348
2017-03-05    0.340093
2017-03-12    0.076287
2017-03-19    0.177835
2017-03-26    0.157269
2017-04-02    0.319807
2017-04-09    0.128689
2017-04-16    0.212479
2017-04-23    0.174676
2017-04-30    0.090024
2017-05-07    0.235635
2017-05-14    0.352979
2017-05-21    0.536094
2017-05-28    0.060392
2017-06-04    0.281226
2017-06-11    0.620035
2017-06-18    0.382566
2017-06-25    0.128895
2017-07-02    0.264109
2017-07-09    0.158886
2017-07-16    0.404283
2017-07-23    0.124992
2017-07-30    0.384439
2017-08-06    0.924393
2017-08-13    0.467467
2017-08-20    0.435254
2017-08-27    0.275765
2017-09-03    0.251725
2017-09-10    0.381642
2017-09-17    0.294141
2017-09-24    0.735190
2017-10-01    0.354846
2017-10-08    0.204854
2017-10-15    0.118726
2017-10-22    0.516995
2017-10-29    0.680453
2017-11-05    0.560684
2017-11-12    0.190972
2017-11-19    0.436194
2017-11-26    0.563041
2017-12-03    0.427444
2017-12-10    0.073129
2017-12-17    0.205264
2017-12-24    0.194123
2017-12-31    0.190395
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220753
2017-01-22    28.279671
2017-01-29    28.739212
2017-02-05    30.419498
2017-02-12    31.341913
2017-02-19    32.122971
2017-02-26    32.451973
2017-03-05    33.086285
2017-03-12    33.022381
2017-03-19    33.299305
2017-03-26    33.481552
2017-04-02    34.111126
2017-04-09    34.264984
2017-04-16    33.886284
2017-04-23    33.713505
2017-04-30    34.208172
2017-05-07    35.256687
2017-05-14    37.099133
2017-05-21    37.004059
2017-05-28    36.597660
2017-06-04    36.944653
2017-06-11    36.925636
2017-06-18    34.838955
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891804
2017-07-30    36.471703
2017-08-06    37.346291
2017-08-13    38.277931
2017-08-20    38.557102
2017-08-27    38.170578
2017-09-03    39.141655
2017-09-10    38.671619
2017-09-17    38.533234
2017-09-24    37.872318
2017-10-01    36.798637
2017-10-08    37.075401
2017-10-15    37.457157
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657738
2017-11-26    41.897182
2017-12-03    41.686474
2017-12-10    40.659225
2017-12-17    41.657738
2017-12-24    42.244404
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272600
2017-02-05    28.597813
2017-02-12    30.704645
2017-02-19    31.547819
2017-02-26    32.314690
2017-03-05    32.409363
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098106
2017-04-02    33.344269
2017-04-09    33.926521
2017-04-16    33.384506
2017-04-23    33.296928
2017-04-30    33.997524
2017-05-07    34.681545
2017-05-14    36.215271
2017-05-21    35.708801
2017-05-28    36.443180
2017-06-04    36.305332
2017-06-11    35.406967
2017-06-18    33.812252
2017-06-25    34.463448
2017-07-02    34.147366
2017-07-09    33.921589
2017-07-16    34.475334
2017-07-23    35.544807
2017-07-30    35.530560
2017-08-06    35.347553
2017-08-13    37.058716
2017-08-20    37.578850
2017-08-27    37.509663
2017-09-03    38.526077
2017-09-10    37.848461
2017-09-17    37.764950
2017-09-24    36.240330
2017-10-01    35.920605
2017-10-08    36.619690
2017-10-15    37.182785
2017-10-22    37.216183
2017-10-29    37.261520
2017-11-05    39.778709
2017-11-12    41.575329
2017-11-19    40.486820
2017-11-26    40.702324
2017-12-03    40.582596
2017-12-10    40.470055
2017-12-17    41.114178
2017-12-24    41.748741
2017-12-31    40.522728
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [92]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597813
2017-02-28    32.423569
2017-03-31    34.002262
2017-04-30    33.999893
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347553
2017-08-31    39.129723
2017-09-30    36.772396
2017-10-31    40.332256
2017-11-30    41.150097
2017-12-31    40.522728
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [93]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [94]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863335160140594
0.05225852528008448
0.09901848949416614

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [95]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825756
2017-03-31    1.578693
2017-04-30   -0.002369
2017-05-31    2.305439
2017-06-30   -2.077160
2017-07-31    1.119381
2017-08-31    3.782169
2017-09-30   -2.357327
2017-10-31    3.559860
2017-11-30    0.817841
2017-12-31   -0.627369
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [96]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64


Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [97]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by .dropna()

In [98]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032703
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

**DataFrame**

The DataFrame is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

**Create DataFrames**

The most common method of creating a DataFrame is passing a dictionary:

In [99]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

**Manipulating DataFrames**

We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: df['column_name']

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [100]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906773
2017-12-26    40.843605
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [101]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852386  22.440248  21.750950  ...  257666000        0.0             0
2016-02-29  22.450759  22.768306  22.402084  ...  140865200        0.0             0
2016-03-31  25.431522  25.473243  25.236821  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226407  23.412965  23.044514  ...  169228800        0.0             0
2016-06-30  22.023110  22.333260  21.990462  ...  143345600        0.0             0
2016-07-31  24.296782  24.380733  24.177851  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367392  26.580751  26.212649  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300084  26.441482  25.986651  ...  144649200        0.0             0
2016-12-31  27.490195  27.619809  27.202685  ...  122345200        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [102]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248
2016-02-29  22.450759  22.768306  22.402084  22.411356
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023110  22.333260  21.990462  22.293617
2016-07-31  24.296782  24.380733  24.177851  24.301445
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367392  26.580751  26.212649  26.505724
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300084  26.441482  25.986651  26.045567
2016-12-31  27.490195  27.619809  27.202685  27.294594

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [103]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023110  22.333260  21.990462  22.293617

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [104]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367392  26.580751  26.212649  26.505724
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300084  26.441482  25.986651  26.045567
2016-12-31  27.490195  27.619809  27.202685  27.294594

**Data Validation**

As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [105]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367392  26.580751  26.212649  26.505724     0.065505
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300084  26.441482  25.986651  26.045567    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. isnull() provides a convenient way to check abnormal values.

In [106]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [107]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method dropna() and fillna() can be applied to a DataFrame.

In [108]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367392  26.580751  26.212649  26.505724     0.065505
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300084  26.441482  25.986651  26.045567    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248     0.000000
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367392  26.580751  26.212649  26.505724     0.065505
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300084  26.441482  25.986651  26.045567    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

**DataFrame Concat**

We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function concat() allows us to merge multiple Series into a DataFrame:

In [109]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99


The "axis = 1" parameter will join two DataFrames by columns:

In [110]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104300
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN   3.110856
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288   3.109568
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211   3.229314
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921   3.078583
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773   3.147897
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660   3.104300
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367392  26.580751  26.212649  26.505724     0.065505   3.277361
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334   3.281685
2016-11-30  26.300084  26.441482  25.986651  26.045567    -0.021601   3.259848
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955   3.306689

We can also join two DataFrames by rows. Consider these two DataFrames:

In [111]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300084  26.441482  25.986651  26.045567
2016-12-31  27.490195  27.619809  27.202685  27.294594
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104035  34.153741  33.909955  33.999893

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [112]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852386  22.440248  ...          NaN           NaN
2016-02-29  22.450759  22.768306  ...          NaN           NaN
2016-03-31  25.431522  25.473243  ...          NaN           NaN
2016-04-30  21.785531  21.954736  ...          NaN           NaN
2016-05-31  23.226407  23.412965  ...          NaN           NaN
2016-06-30  22.023110  22.333260  ...          NaN           NaN
2016-07-31  24.296782  24.380733  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367392  26.580751  ...          NaN           NaN
2016-10-31  26.646394  26.782382  ...  105677600.0           0.0
2016-11-30  26.300084  26.441482  ...  144649200.0           0.0
2016-12-31  27.490195  27.619809  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]


By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [113]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646394  26.782382  ...  105677600             0
2016-11-30  26.300084  26.441482  ...  144649200             0
2016-12-31  27.490195  27.619809  ...  122345200             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [114]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367392  26.580751  26.212649  26.505724     0.065505
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300084  26.441482  25.986651  26.045567    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300084  26.441482  25.986651  26.045567          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104035  34.153741  33.909955  33.999893          NaN


'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [115]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367392  26.580751  26.212649  26.505724     0.065505
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300084  26.441482  25.986651  26.045567    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300084  26.441482  25.986651  26.045567          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104035  34.153741  33.909955  33.999893          NaN


Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [116]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852386  22.440248  21.750950  22.440248          NaN        NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001288        NaN
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127211        NaN
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921        NaN
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773        NaN
2016-06-30  22.023110  22.333260  21.990462  22.293617    -0.042660        NaN
2016-07-31  24.296782  24.380733  24.177851  24.301445     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367392  26.580751  26.212649  26.505724     0.065505        NaN
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334        NaN
2016-11-30  26.300084  26.441482  25.986651  26.045567    -0.021601        NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955        NaN
2016-10-31        NaN  26.782382  26.540886  26.620604          NaN  26.646394
2016-11-30        NaN  26.441482  25.986651  26.045567          NaN  26.300084
2016-12-31        NaN  27.619809  27.202685  27.294594          NaN  27.490195
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530077  32.354928  32.423569          NaN  32.444870
2017-03-31        NaN  34.146641  33.848414  34.002262          NaN  34.016463
2017-04-30        NaN  34.153741  33.909955  33.999893          NaN  34.104035